{% extends 'admin/base.html.twig' %}

{% block title %}#{{ article.id|default('new') }} | Edit{% endblock %}

{% block body %}
    <a href="{{ path("admin_list_articles") }}">Cancel</a>
    <article>
        <dl>
            <dt>ID</dt>
            <dd>{{ article.id }}</dd>
            <dt>Status</dt>
            <dd>{{ article.status|default('new') }}</dd>
            <dt>Created</dt>
            <dd>{{ article.createdAt|date('d/m/Y g:ia') }}
        </dl>
        {{ form(editArticleForm) }}
    </article>
{% endblock %}