{% extends 'admin/2-column-layout.html.twig' %}

{% block content %}
    <article>
        <a href="{{ path("new_article") }}">New Article</a>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ path("edit_article", {"id": article.id}) }}">{{ article.id }}</a></td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.status }}</td>
                        <td class="row-controls">
                            <a href="{{ path("edit_article", {"id": article.id}) }}">Edit</a>
                            <a href="{{ path("view_article", {"path": article.path}) }}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}